<div id="pt_paymentpage">
	<div class="float-end">
		<button type="button" class="btn btn-primary" onclick="pt_submit('{{ order_id }}')">{{ button_confirm }}</button>
	</div>

	<div id="pt_loading" style="display: none">
		<img src="extension/clickpay/catalog/view/image/logo-animation.gif" alt="Clickpay loading" style="max-height: 200px; margin: auto; display: block" />
	</div>
</div>

<script>
	function pt_submit(order_id) {
		$('#pt_paymentpage button').attr("disabled", 'disabled');
		$("#pt_loading").show("fast")

		$.post('{{ url_confirm }}', {
			order: order_id
		})
			.always(function () {
				$('#pt_loading').hide('fast');
			})
			.done(function (res) {
				ptDone(res);
			})
			.fail(function (xhr, status, error) {
				$('#pt_paymentpage button').attr("disabled", false);
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + error + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			});
	}

	{% if iframe_mode %}
	function ptDone(res) {
		$('#pt_paymentpage').html(res);
	}

	{% else %}
	function ptDone(res) {
		if (res.status && res.redirect_url) {
			window.location.href = res.redirect_url;
		} else {
			$('#pt_paymentpage button').attr("disabled", false);
			$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> Error ! <br> ' + res.message + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
		}
	}
	{% endif %}
</script>