<div id="pt_paymentpage">
	<div class="float-end">
		<button type="button" class="btn btn-primary" onclick="pt_submit('{{ order_id }}')">{{ button_confirm }}</button>
	</div>

	<div id="pt_loading" style="display: none;">
		<img src="extension/paytabs/catalog/view/image/logo-animation.gif" alt="PayTabs loading" style="max-height: 200px; margin: auto; display: block;">
	</div>
</div>

{% if iframe_mode %}
<script>
	function pt_submit(order_id) {
		$('#pt_loading').show('fast').prev().hide();

		$.post('{{ url_confirm }}', {
				order: order_id
			})
			.always(function() {
				$('#pt_loading').hide('fast');
			})
			.done(function(res) {
				$('#pt_paymentpage').html(res);
			})
			.fail(function(xhr, status, error) {
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + error + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			});
	}
</script>

{% else %}

	<script>
		function pt_submit(order_id) {
			$('#pt_paymentpage button').attr("disabled", 'disabled');
			$("#pt_loading").show("fast")
			$.post('{{ url_confirm }}', {
				order: order_id
			})
			.always(function() {
				$('#pt_loading').hide('fast');
			})
			.done(function(res) {
				if (res.status && res.redirect_url) {
					window.location.href = res.redirect_url;
				} else {
					$('#pt_paymentpage button').attr("disabled",false);
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> Error ! <br> ' + res.message  + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}
			})
			.fail(function(xhr, status, error) {
				$('#pt_paymentpage button').attr("disabled",false);
				$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + error + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

			});
		}
	</script>

{% endif %}