{% if paypage %}
	<form action="{{ payment_url }}" method="get" class="pull-right">
		<button type="submit" class="btn btn-primary">{{ button_confirm }}</button>
	</form>
{% else %}
	<div class="alert alert-danger">
		{{ paypage_msg }}
	</div>
{% endif %}
